@model XANDER.Models.Worker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Worker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkerType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkerType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "SearchWorkers")
</p>
