@model XANDER.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        
        
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Worker.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |

    @if (User.IsInRole("Client"))
    {
        @Html.ActionLink("Back to List", "ClientMessages")
    }
    else if (User.IsInRole("Worker"))
    {
        @Html.ActionLink("Back to List", "WorkerMessages")
    }

</p>
