@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model XANDER.Models.Job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType.Type)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.JobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPayout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPayout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>*@

    </dl>

    <p><a class="btn btn-default" href="@Html.Action("AcceptJob","JobsController")">Accept job</a></p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
