@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<XANDER.Models.Job>




@{
    ViewBag.Title = "Index";
}
<h2>Available jobs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobType.Type)
        </th>
       

        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobPayout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobType.Type)
        </td>
        

        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobPayout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        
        <td>
            
            @Html.ActionLink("Details", "WorkerDetails", new { id = item.ID }) 
            
        </td>
    </tr>
    }

</table>
